* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Mochiy Pop P One', cursive, sans-serif;
}

/* h1 {
    padding: 1rem;
} */

h3 {
    padding: 1rem 1rem 1rem 0;
}

header {
    background-color: rgb(141, 8, 1);
    display: grid;
    color: black;
    justify-content: center;
    padding: 1rem 0rem;
}

main {
    display: grid;
    padding: 1rem;
}

nav {
    display: block;
    padding: 1rem;
}

a {
    color: rgb(141, 8, 1);
    text-decoration: none;
}

a:hover {
    color: rgb(254, 74, 33);
}


/* Class Selectors */

.page {
    margin: 0 auto;
    max-width: 960px;
    background-color: rgb(163, 124, 64);
}

.imagery .card {
    float: right;
}

.profile img {
    float: right;
}