* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Teko', sans-serif;
    font-size: 16px;
    background-color: rgb(163, 123, 64);
}

header {
    display: grid;
}

header,
footer {
    align-items: center;
}

footer {
    background-color: rgb(141, 8, 1);
    justify-content: end;
    padding: 0.5rem;
}

nav {
    text-align: center;
    font-size: 1.5rem;
    background-color: rgb(141, 8, 1);
    margin: 1rem 0rem;
}

nav ul {
    display: flex;
	list-style: none;
    align-items: center;
}

nav li {
	flex: 1 1 100%;
    background-color: rgb(218, 226, 223);
    margin: 1rem;
    border-radius: 12px;
}

nav a {
    color: black;
	display: block;
	padding: .5rem;
    border-radius: 12px;
	text-decoration: none;
    transition-duration: 0.5s;
}

table,
th,
td,
tr {
    border: solid black;
    border-collapse: collapse;
    background-color: rgb(218, 226, 223);
    padding: 1rem;
    margin: 1rem;
}

/* Class Selectors */

.page {
    margin: 0 auto;
}

.title_head {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    background-color:  rgb(64, 78, 77);
    text-align: center;
}

.links a:hover {
    transition-duration: 0.5s;
    background-color:rgb(64, 78, 77);
    color:rgb(218, 226, 223);
    border-radius: 12px;
}

.display_cards {
    display: flex;
    justify-content: center;
}

.display_cards img {
    border-radius: 12px;
    max-width: 180px;
    margin: 0.5rem;
    box-shadow: 0 0 8px;
    transition-duration: 0.5s;
}

.display_cards img:hover {
    transform: scale(1.25);
    transition-duration: 0.5s;
}

.content_spacing {
    margin: 1rem 100px 1rem 100px;
    text-align: center;
}

.explanation {
    display: grid;
    justify-content: center;
    grid-template-columns: 100px 1fr 1fr 100px;
}

.explanation h2, p{
    grid-column: 2/3;
}

.example {
    grid-column: 3/4;
}

.cards_example {
    position: relative;
}

.card_1 {
    position: absolute;
    z-index: 0;
}

.colors {
    border-radius: 100px;
    max-width: 20px;
}

.logo {
    padding-top: 10px;
    padding-left: 10px;
}

.logo img {
    max-width: 70px;
    border-radius: 100px;
    transition-duration: 5s;
}

.logo img:hover {
    transform: rotate(3turn);
    transition-duration: 10s;
}

.supporting_media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.supporting_media img {
    max-width: 90px;
    transition-duration: 0.5s;
}
.supporting_media img:hover {
    filter: drop-shadow(0 0 8px);
    transition-duration: 0.5s;
}