* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Teko', sans-serif;
    font-size: 20px;
}

header {
    display: grid;
}

header,
footer {
    align-items: center;
}

footer {
    color: rgb(218, 226, 223);
    background-color: rgb(141, 8, 1);
    justify-content: end;
    padding: 0.5rem;
    border-top: solid;
    border-color: black;
}

main {
    display: grid;
    padding-top: 3rem;
    grid-template-columns: 200px 1fr 1fr 200px;
    background-image: url('https://i.pinimg.com/originals/ab/8b/29/ab8b29d163462214b27b18bafbc77f97.jpg');
    background-size: cover;
}

nav {
    text-align: center;
    background-color: rgb(141, 8, 1);
    border-bottom: solid;
}

nav ul {
    display: flex;
	list-style: none;
    align-items: center;
}

nav li {
	flex: 1 1 100%;
    background-color: rgb(218, 226, 223);
    margin: 1rem;
    border-radius: 12px;
}

nav a {
    color: black;
	display: block;
	padding: .5rem;
    border: inset;
    border-radius: 12px;
	text-decoration: none;
    transition-duration: 0.5s;
}

table,
th,
td,
tr,
caption {
    border: solid black;
    border-collapse: collapse;
    background-color: rgb(218, 226, 223);
    padding: 0.5rem;
    grid-column: 2/4;
    margin-bottom: 3rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

input {
    padding: 0.5rem;
    width: 30%;
}


/* Class Selectors */

.page {
    margin: 0 auto;
}

.title_head {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    color: rgb(218, 226, 223);
    background-color: rgb(64, 78, 77);
    text-align: center;
    border-bottom: ridge;
}

.info_boxes {
    border: solid;
    border-radius: 12px;
    grid-column: 2/4;
}

.sidenav {
    margin-right: 1rem;
    padding: 2rem;
    border: solid;
    border-left: none;
    border-bottom: none;
    border-top-right-radius: 12px;
    grid-column: 1/2;
    background-color: rgb(218, 226, 223);
}

.sidenav li {
    transition-duration: 0.5s;
    list-style: upper-roman;
    padding-bottom: 0.5rem;
}

.sidenav li:hover {
    transform: translateX(20px);
    color: rgb(141, 8, 1);
}

.links a:hover {
    transition-duration: 0.5s;
    background-color:rgb(64, 78, 77);
    color:rgb(218, 226, 223);
    border-radius: 12px;
    border-style: outset;
}

.search_cards {
    background-color: rgb(64, 78, 77);
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: rgb(218, 226, 223);
    border-color: black;
}

.display_cards {
    display: flex;
    grid-column: 1/5;
    justify-content: center;
    margin-bottom: 3rem;
}

.display_cards img {
    border-radius: 12px;
    width: 200px;
    margin: 0.5rem;
    box-shadow: 0 0 8px;
    transition-duration: 0.5s;
}

.display_cards img:hover {
    transform: scale(1.25);
}

.introduction {
    margin-bottom: 3rem;
    padding: 1rem;
    text-align: center;
    background-color: rgb(218, 226, 223);
}

.explanation {
    grid-column: 2/3;
    background-color: rgb(218, 226, 223);
    justify-content: center;
    padding: 1rem;
}

.tricks {
    margin-bottom: 3rem;
    padding: 1rem;
    background-color: rgb(218, 226, 223);
}

.tricks p {
    text-indent: 1rem;
    margin-bottom: 3rem;
}

.signin {
    margin-bottom: 3rem;
    grid-column: 2/4;
    background-color: rgb(218, 226, 223);
    border-radius: 12px;
}

.example {
    grid-column: 3/4;
}

.example picture {
    position: relative;
}

.example img:hover {
    transform: scale(1.15);
    transition-duration: 0.5s;
    z-index: 5;
}

.tbl_head th {
    color: rgb(218, 226, 223);
    background-color: rgb(141, 8, 1);
    border-color: black;
}

.card_1 {
    position: absolute;
    left: 120px;
    z-index: auto;
    width: 150px;
    transition-duration: 0.25s;
}

.card_2 {
    position: absolute;
    top: 20px;
    left: 150px;
    z-index: 1;
    width: 150px;
    transition-duration: 0.25s;
}

.card_3 {
    position: absolute;
    top: 40px;
    left: 180px;
    z-index: 2;
    width: 150px;
    transition-duration: 0.25s;
}

.card_4 {
    position: absolute;
    top: 60px;
    left: 210px;
    z-index: 3;
    width: 150px;
    transition-duration: 0.25s;
}

.card_5 {
    position: absolute;
    top: 80px;
    left: 240px;
    z-index: 4;
    width: 150px;
    transition-duration: 0.25s;
}

.call_to_action {
    margin: 3rem 0;
    padding: 1rem;
    background-color: rgb(218, 226, 223);
    display: grid;
    text-align: center;
}

.call_to_action span {
    width: 200px;
    font-size: 1.75rem;
    justify-self: center;
    padding: 1rem;
    transition-duration: 0.5s;
}

.call_to_action a {
    text-decoration: none;
    border-radius: 12px;
    color: rgb(141, 8, 1);
    padding: 0.5rem 2rem;
    border-style: outset;
    transition-duration: 0.5s;
}

.logo {
    padding-top: 10px;
    padding-left: 10px;
}

.logo img {
    max-width: 70px;
    border-radius: 100px;
    transition-duration: 5s;
}

.logo img:hover {
    transform: rotate(3turn);
    transition-duration: 7s;
}

.supporting_media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.supporting_media img {
    max-width: 90px;
    transition-duration: 0.5s;
}

.supporting_media img:hover {
    filter: drop-shadow(0 0 8px);
}