* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Teko', sans-serif;
    font-size: 16px;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

header,
footer {
    align-items: center;
}

footer {
    display: flex;
    background-color: rgb(141, 8, 1);
}

nav {
    text-align: center;
    font-size: 1.5rem;
    background-color: rgb(141, 8, 1);
    grid-column: 1/4;
    margin: 1rem 0rem;
}

nav ul {
    display: flex;
	list-style: none;
    align-items: center;
}

nav li {
	flex: 1 1 100%;
    background-color: rgb(218, 226, 223);
    margin: 1rem;
}

nav a {
    color: black;
	display: block;
	padding: .5rem;
	text-decoration: none;
}

/* Class Selectors */

.page {
    margin: 0 auto;
    max-width: 1060px;
    background-color: rgb(163, 123, 64);
}

.title_head {
    display: flex;
    justify-content: center;
    margin: 0rem 1rem 1rem 1rem;
    padding: 0.5rem;
    background-color:  rgb(64, 78, 77);
    grid-column: 2/3;
    text-align: center;
}

.display_cards {
    display: flex;
    justify-content: center;
}

.display_cards img {
    border-radius: 12px;
    max-width: 180px;
    margin: 0.5rem;
}

.colors {
    border-radius: 100px;
    max-width: 20px;
}

.sample {
    max-width: 70px;
    border-radius: 100px;
}