* {
    margin: 0;
    padding: 0;
    font-family: 'Mochiy Pop P One';

}

body {
    background-color: rgb(58, 122, 106);
    font-size: 16px;
}

header,
footer {
    background-color: rgb(146, 99, 38);
}

main {
    margin:  1rem;
}

footer {
    grid-template-columns: 1fr 1fr 1fr;
}

h1 {
    color: rgb(24, 24, 151);
    align-items: center;
    display: inline;
}

nav .list {
    margin: 2rem;
    display: grid;
    grid-template-columns: 10rem 10rem 10rem;
    justify-content: center;
}

h2,
p,
figcaption {
    color: rgb(225, 240, 255);
}


/* Class Selectors */

.logo {
    margin: 1rem;
}

.page {
    margin: 0 auto;
    max-width: 960px;
    align-items: center;
    display: grid;
    justify-content: center;
}

.grid {
    margin: 1rem;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.socialmedia {
    margin: 1rem;
    padding: 0;
}