body {
    background: linear-gradient(to right, #8e9eab, #eef2f3);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive, sans-serif;
    letter-spacing: 0.03em;
}

h1 {
    text-align: center;
}

.card {
    background-color: white;
    border-radius: 10px;
}

.card img {
    width: 400px;
    border-radius: 10px 10px 0px 0px;
}